{% extends "layout.html" %}
{% block content %}
    <h1>Search</h1>
    <form method="post" action="{{ url_for('searchText') }}">
        <p><label>Search:</label> <input type="text" name="searchText" required></p>
        <p><button type="submit">Search</button></p>
    </form>
    <h1>Search results:</h1>
    <p>
        <ol>
                {% for url in results %}
                        <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
        </ol>
    </p>

{% endblock %}
