<!doctype html>
<html lang="en">
    <head>
        <title>SEARCH</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
