{% extends "layout.html" %}
{% block content %}
    <h1>Search results:</h1>
    <p>
        <ol>
		{% for url in results %}
    			<li><a href="{{ url }}">{{ url }}</a></li>
		{% endfor %}
	</ol>
    </p>
    <a href="{{ url_for('home') }}">Search Again</a>
{% endblock %}
